<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hcititembanksys"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

   <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hcititembanksys.activity.FlashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hcititembanksys.activity.MainActivity"></activity>
        <activity android:name="com.hcititembanksys.activity.CmxActivity"></activity>
        <activity android:name="com.hcititembanksys.activity.DqxActivity"></activity>
        <activity android:name="com.hcititembanksys.activity.DzxActivity"></activity>
        <activity android:name="com.hcititembanksys.activity.GjjActivity"></activity>
        <activity android:name="com.hcititembanksys.activity.JcbActivity"></activity>
        <activity android:name="com.hcititembanksys.activity.JdxActivity"></activity>
        <activity android:name="com.hcititembanksys.activity.JtxActivity"></activity>
        <activity android:name="com.hcititembanksys.activity.QcxActivity"></activity>
        <activity android:name="com.hcititembanksys.activity.ShkxActivity"></activity>
        <activity android:name="com.hcititembanksys.activity.SxyActivity"></activity>
        <activity android:name="com.hcititembanksys.activity.WdlActivity"></activity>
    </application>

</manifest>
